<ion-header>

  <ion-navbar>
    <ion-title>{{ pageTitle }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
<ion-item>
    <img class="center circle-pic" src="assets/img/Chinese_girl.jpg" />
</ion-item>
  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list *ngIf="page == 'main'">
      <ion-item>
        <ion-label>Keep Me Logged In</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Enable Caching</ion-label>
        <ion-toggle formControlName="option1"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Default Sharing Platform</ion-label>
        <ion-select formControlName="option3">
          <ion-option value="1" checked="true">Facebook</ion-option>
          <ion-option value="2">Instagram</ion-option>
          <ion-option value="3">Twitter</ion-option>
        </ion-select>
      </ion-item>

      <button ion-item [navPush]="subSettings" [navParams]="profileSettings">
        {{ 'SETTINGS_PROFILE_BUTTON' | translate }}
      </button>
    </ion-list>

    <ion-list *ngIf="page == 'profile'">
      <ion-item>
        <ion-label>About</ion-label>
        <ion-input formControlName="option4" value="I want to learn to cook!"></ion-input>
      </ion-item>
    </ion-list>
  </form>

</ion-content>
